@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; */

  --primary-color: #003bd1;
  --secondary-color: #dfcb14;
  --danger-color: #cf1c0c;
  --default-gray: #b7b7b7;
  --gray-color: #e7eaed;
  --disabled-color-dark: #50565c;
  --disabled-color: #a0a5ab;
  --disabled-very-light: #f7f7f7;

  /* --scrollbar-color: rgba(255, 255, 255, 1); */
  --scrollbar-color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255; */

    /* --scrollbar-color: rgba(255, 255, 255, 1); */
    --scrollbar-color: red;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  padding: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.text-danger {
  font-size: 12px;
  color: var(--danger-color);
}

.danger {
  color: var(--danger-color);
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: end;
}

.fullWidth {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

@keyframes custom-enter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes custom-exit {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(125%);
  }
}
